name: Auto Version

on:
  push:
    branches:
      - 'main'
      - 'canary'
      - 'non-latest-releases'

permissions:
  contents: write
  packages: write

jobs:
  get-version:
    uses: ./.github/workflows/get-semantic-version.yml
    with:
      branch: ${{ github.ref_name }}

  release-version:
    needs: 
      - get-version
    if: ${{ needs.get-version.outputs.is-new == 'true' }}
    uses: ./.github/workflows/create-release.yml
    with:
      version: ${{ needs.get-version.outputs.version }}
      branch: ${{ github.ref_name }}
    secrets:
      token: ${{ secrets.GITHUB_TOKEN }}

  release-image:
    needs:
      - get-version
      - release-version
    if: ${{ needs.get-version.outputs.is-new == 'true' }}
    uses: ./.github/workflows/release-image.yml
    with:
      version: ${{ needs.get-version.outputs.version }}
  
  train-and-release-model:
    needs:
      - get-version
      - release-version
      - release-image
    if: ${{ needs.get-version.outputs.is-new == 'true' }}
    uses: ./.github/workflows/train-release-model.yml
    with:
      version: ${{ needs.get-version.outputs.version }}
      branch: ${{ github.ref_name }}
    secrets:
      token: ${{ secrets.GITHUB_TOKEN }}
